RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^cristian-popa.png$ /cristian-popa.html [L]

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that has the .html extension

Rewrite Rule ^(.*)$ $1.html [NC,L]